{{ define "main" }}
<div class="main__content">
  {{ if .Content }}
  <div class="content">{{ .Content }}</div>
  {{ end }}

  {{ if .Sections }}
  {{ range .Sections }}
  <article class="post">
    <header class="post__header">
      <h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
    </header>
  </article>
  {{ end }}
  {{ end }}

  {{ range .RegularPages }}
  <article class="post">
    <header class="post__header">
      <h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="post__meta">{{ .Date.Format "2 January, 2006" }}</div>
    </header>
    {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    <a href="{{ .Permalink }}">Leer más</a>
  </article>
  {{ end }}
</div>
{{ end }}
